.DS_Store
po/*.gmo
/.vscode
config.yaml
__pycache__
/meta.json
src/vendor
src/manifest.json
src/meta.json
src/version.py
src/basic_names.py
/build
/ankidata
/ankiweb-description.md
/node_modules
/src/assets
/src/user_files/page.html
/src/config.py
/src/config.json
/src/config.schema.json
/src/config_schema.py
/src/importer_config.py
/src/importer_config_schema.py
/src/user_files/imports.json
/assets/html/page.html
/typescript/config.ts
