*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
}

chess-board .cg-wrap {
	background-size: cover;
	background-repeat: no-repeat;
}

.is3d {
	chess-board {
		padding-bottom: 92.96875%;
		margin-top: -4px;
	}

	.cg-wrap {
		background-repeat: no-repeat;
		height: 97.5840336134%;
	}

	piece {
		width: 16.741%;
		height: 23.563%;
		left: -1.85%;
		top: -9.1%;
	}
}
